<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono" rel="stylesheet">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="css/profile.css" />
  <title>account page </title>
</head>

<body>
  <!-- Image and text -->

  <div class="header">

    <a href="#">
      <img src="/images/logo-2x.png" alt="" width="159" height="60" style="float:left; margin-top: -6px;">
    </a>
    <h5 class="welcome"> Welcome
      <span class="">
        <%= user.username %>
      </span>
    </h5>

  </div>


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ABNB</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">My accounts
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              <%= user.firstname %>
                <%= user.lastname %>
            </a>
          </li>
          <li>
            <a>
              <strong>Acc NO: </strong>
              <%= user.account %>
            </a>
          </li>
          <li>
            <a href="/logout">
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- end of nav  -->
  <div class="container">
    <div class="jumbotron" style="border-radius:0">
      <div class="container">
        <img src="/images/CategoryBanners-Desktop-Template_0006_BusinessAccounts-Shutterstock345947957.jpg" alt="" width="100%" height="100%">
      </div>
    </div>
    <div>

    </div>
    <div>
      <ul class="nav nav-tabs" role="tablist" id="myTabs">
        <li role="presentation" class="active">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Transactions</a>
        </li>
        <li role="presentation">
          <a href="#accounts" aria-controls="profile" role="tab" data-toggle="tab">Account details</a>
        </li>
        <li role="presentation">
          <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">transfer</a>
        </li>
        <!-- <li role="presentation">
          <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
        </li> -->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>REFERENCE NO.</th>
                <th>DESCRIPTION </th>
                <th>AMOUNT</th>
                <th>TRANSACTION TYPE</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i = 0; i < history.length; i++) {  %>
                <tr>
                  <th scope="row">
                    <%= history[i].date %>
                      </</th>
                      <td>
                        <%= history[i].referenceNo %>
                      </td>
                      <td>
                        <%= history[i].detail %>
                      </td>
                      <td>$
                        <%= history[i].amount %>
                      </td>
                      <td>
                        <%= history[i].transactionType %>
                          </</td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="accounts">
          <form class="form-horizontal form-bordered accounts">
            <div class="form-group">
              <label class="col-md-3 control-label" for="inputReadOnly">Account Full Name: </label>
              <div class="col-md-6">
                <span id="sprytf_rbname">
                  <input name="rbname" input="" type="text" value="<%= user.lastname %> <%= user.firstname %>" class="form-control account-details"
                    readonly="readonly" autocomplete="off">
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="inputReadOnly">Email ID: </label>
              <div class="col-md-6">
                <span id="sprytf_rbname">
                  <input name="rbname" input="" type="text" value="<%= user.email %>" class="form-control account-details" readonly="readonly"
                    autocomplete="off">
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="inputReadOnly">Username: </label>
              <div class="col-md-6">
                <span id="sprytf_rbname">
                  <input name="rbname" input="" type="text" value="<%= user.username %>" class="form-control account-details" readonly="readonly"
                    autocomplete="off">
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="inputReadOnly">Phone No: </label>
              <div class="col-md-6">
                <span id="sprytf_rbname">
                  <input name="rbname" input="" type="text" value="<%= user.phone %>" class="form-control account-details" readonly="readonly"
                    autocomplete="off">
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="inputReadOnly">Address: </label>
              <div class="col-md-6">
                <span id="sprytf_rbname">
                  <input name="rbname" input="" type="text" value="<%= user.address %>" class="form-control account-details" readonly="readonly"
                    autocomplete="off">
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="inputReadOnly"> CIty, State: </label>
              <div class="col-md-6">
                <span id="sprytf_rbname">
                  <input name="rbname" input="" type="text" value="<%= user.city %> <%= user.state %>" class="form-control account-details"
                    readonly="readonly" autocomplete="off">
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="inputReadOnly"> Zip Code: </label>
              <div class="col-md-6">
                <span id="sprytf_rbname">
                  <input name="rbname" input="" type="text" value="<%= user.zipcode %>" class="form-control account-details" readonly="readonly"
                    autocomplete="off">
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="inputReadOnly">Account Number: </label>
              <div class="col-md-6">
                <span id="sprytf_rbname">
                  <input name="rbname" input="" type="text" value="<%= user.account %>" class="form-control account-details" readonly="readonly"
                    autocomplete="off">
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="inputReadOnly">Account Balance USD($): </label>
              <div class="col-md-6">
                <span id="sprytf_rbname">
                  <input name="rbname" input="" type="text" value="$ <%= user.balance %>" class="form-control account-details" readonly="readonly"
                    autocomplete="off">
                </span>
              </div>
            </div>
          </form>

        </div>
        <!-- transfer starts here  -->
        <div role="tabpanel" class="tab-pane" id="messages">
          <div class="panel-body">


            <form action="/app/user/token" name="myForm" method="get" form="" class="form-horizontal form-bordered">
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Receiver's Bank Name: </label>
                  <div class="col-md-6">
                    <span id="sprytf_rbname">
                      <input name="reciever" required type="text" class="form-control" autocomplete="off">
                      <span class="textfieldMinCharsMsg">Receiver's Bank Name must specify at least 6 characters.</span>
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-4 control-label">Receiver's Name: </label>
                  <div class="col-md-6">
                    <span id="sprytf_rname">
                      <input name="rname" type="text" class="form-control" autocomplete="off" required>
                      <span class="textfieldMinCharsMsg">Receiver's Name must specify at least 6 characters.</span>
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-4 control-label">Receiver's Account Number: </label>
                  <div class="col-md-6">
                    <span id="sprytf_accno">
                      <input name="accno" required type="text" class="form-control" autocomplete="off" required>
                      <span class="textfieldRequiredMsg">Account Number is required.</span>

                      <span class="textfieldMinCharsMsg">Account Number must specify at least 10 characters.</span>
                      <br/>
                      <span class="textfieldMaxCharsMsg">Account Number must specify at max 15 characters.</span>
                      <br/>
                      <span class="textfieldInvalidFormatMsg">Account Number must be Number.</span>
                    </span>
                  </div>
                </div>



                <div class="form-group">
                  <label class="col-sm-4 control-label">SWIFT Code: </label>
                  <div class="col-md-6">
                    <span id="sprytf_swift" class="textfieldRequiredState">
                      <input name="swift" required type="text" class="form-control" autocomplete="off">
                      <span class="textfieldRequiredMsg">Swift Code is required.</span>

                      <span class="textfieldMinCharsMsg">Swift Code must specify at least 10 characters.</span>
                      <br/>
                      <span class="textfieldMaxCharsMsg">Swift Code must specify at max 20 characters.</span>
                      <br/>
                      <span class="textfieldInvalidFormatMsg">Account Number must be Number.</span>
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-4 control-label">IBAN Number: </label>
                  <div class="col-md-6">
                    <span id="sprytf_swift">
                      <input name="swift" required type="text" class="form-control">
                      <span class="textfieldRequiredMsg">IBAN Number is required.</span>

                      <span class="textfieldMinCharsMsg">IBAN Number must specify at least 10 characters.</span>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 control-label" for="inputReadOnly">Account ID #: </label>
                  <div class="col-md-6">
                    <input name="saccno" required type="text" value="<%= user.account %>" id="saccno" class="form-control" readonly="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 control-label">Fund Transfer Account</label>
                  <div class="col-md-6">
                    <select data-plugin-selecttwo="" class="form-control populate" select="" name="toption" id="toption">
                      <optgroup label="Available Options">
                        <option value="DT">ABNB ACCOUNT</option>
                        <option value="LT">INTER-STATE TRANSFER</option>
                        <option value="IT">INTERNATIONAL</option>
                      </optgroup>

                    </select>
                    <br>
                    <span class="selectRequiredMsg">Please select the fund transfer option.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 control-label">Amount to Transfer: </label>
                  <div class="col-md-6">
                    <span id="sprytf_amt">
                      <input name="amt" type="text" required class="form-control" input="" autocomplete="off">
                      <span class="textfieldRequiredMsg">Amount is required.</span>

                    </span>
                  </div>
                </div>



                <div class="form-group">
                  <label class="col-sm-4 control-label" for="textareaDefault">Transfer Description</label>
                  <div class="col-md-6">
                    <span id="sprytf_desc">
                      <textarea class="form-control" required rows="3" textarea="" name="desc" id="textareaDefault" autocomplete="off"></textarea>
                      <span class="textareaRequiredMsg">Description is required.</span>
                      <br/>
                      <span class="textareaMinCharsMsg">Description must specify at least 10 characters.</span>
                    </span>
                  </div>
                </div>

              </div>

              <br>
              <br>
              <footer class="panel-footer">
                <button class="btn btn-primary" input="" name="submitButton" type="submit" id="submitButton">Fund Transfer </button>
              </footer>

            </form>
          </div>
        </div>
        <!-- transfer ends here -->
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
      </div>
    </div>
    <!-- Nav tabs -->

  </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous">
  </script>
<script>

  $(document).ready(function () {
    console.log('this is a test')
  })
  $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>

</html>